---
import SiteShell from '../components/layout/SiteShell.astro';
---

<SiteShell>
  <div class="container stack">
    <h1>DEELAN</h1>
    <p>Data Engineering Electronic LAboratory Notebook</p>
    <ul>
      <li><a href="/posts">Posts</a></li>
      <li><a href="/snippets">Snippets</a></li>
    </ul>
  </div>
</SiteShell>
