---
interface Props {
  commit: string;
  date: string;
  message: string;
  author: string;
}

const { commit, date, message, author } = Astro.props;
---

<li class="timeline-item">
  <div>
    <code>{commit}</code> <strong>{date}</strong>
  </div>
  <div>{message}</div>
  <div class="muted">{author}</div>
</li>
